@page
@model InventorySystem.Pages.Rangsit.CreateRangsitModel
@{
}

<br />
<h2>New Item</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" date-bs-dismiss="lert" aria-lable="Close"></button>
	</div>	
}
<form method="post">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Item</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="item" value="@Model.stockInfo.item">
	    </div>
   </div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">StoreID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="storeid" value="@Model.stockInfo.storeid">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Supplier</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="supplier" value="@Model.stockInfo.supplier">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Amount</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="amount" value="@Model.stockInfo.amount">
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" date-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>	
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<botton typeof="submit" class="btn btn-primary">Submit</botton>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" herf="/Rangsit/IndexRangsit" role="button">Cancel</a>
		</div>
	</div>
</form>